<!-- chat/templates/chat/room.html -->
 {% load static %} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link href="{% static 'css/room.css' %}" rel="stylesheet">
</head>
<body>
    {% comment %} <textarea id="chat-log" cols="100" rows="20"></textarea><br> {% endcomment %}
    
    {{ room_name|json_script:"room-name" }}
    <div class="wrapper" >
        <ul>
            <li id="text-message">
                
            </li> 
            <li id="text-message2">
            </li>
        </ul>
    </div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <script src="{% static 'js/room.js' %}"></script>
</body>
</html>
